<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Your Name (required)">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Your Email (required)"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Subject"></textarea>
      </mat-form-field>

      <mat-form-field>
          <textarea matInput placeholder="Your Message"></textarea>
        </mat-form-field>

        <a mat-button routerLink=".">Send</a>
      
  </div>
