<div class="flex-container">
    <div id="img">
        <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Sy%20No.115%2C%20Ranga%20Reddy%2C%20Financial%20District%2C%20Nanakram%20Guda%2C%20Hyderabad%2C%20Telangana%20500032+(Your%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/custom-google-maps/">Embed Google Map</a> by <a href="https://www.mapsdirections.info/en/">Measure area on map</a></iframe></div><br />
    </div>
        <div>
<h1 id="cc"> To Find Us </h1>
<p id="cc">We are located in Nanakram Guda, Hyderabad. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
</p>
<br>
<p>
Sy No.115, Ranga Reddy,<br> Financial District, Nanakram Guda,<br> Hyderabad, Telangana 500032
</p>
</div>
</div>