.flex-container {
     
    display: flex;
    flex-direction: row;
      }
/* h1{
    margin-top: 100px; 
  
} */
p{
    margin-left: 20px;
    color: white;
}
#cc{
    color: white;
display: flex;
justify-content:center;
align-items: center; 
}
#img
{
    height: 50vh;
    width: 50vw;
}