<div class="flex-container">
<div>
<div *ngFor="let c of RecentPost">
 <p>
    <i class="material-icons">tab</i>
   {{c.name}}</p> 
</div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div>
<div *ngFor="let c of RecentComments">
    <p><i class="material-icons">timeline</i>
  {{c.name}}</p> 
 </div>
 </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <div>
 <div *ngFor="let c of Archives">
    <p><i class="material-icons">view_list</i>
   {{c.name}}</p> 
   </div>
   </div>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div>
  <h3>More About Our Business </h3>
  <p class="center">
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum.</p>
</div>
</div>
